table.tp-tablesorter th.gp_header:before {
font-family:"FontAwesome";
color:#aaa;
content:"\f0dc"; /* fa fa-sort */
}

table.tp-tablesorter th.gp_header_desc:before {
content:"\f0de"; /* fa-sort-asc */
color:#333;
}

table.tp-tablesorter th.gp_header_asc:before {
content:"\f0dd"; /* fa-sort-desc */
color:#333;
}
.free_images{
	float:right;
	/*border: 1px solid;*/

padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;

	color: #00529B;
background-color: #BDE5F8;

margin: 5px 0px;
padding:12px;
margin-top: 0px;
}
.free_images i, .warning_images i {
  margin-right: 5px;
}
.warning_images{
	color: #9F6000;
    background-color: #FEEFB3;
	float:right;
	margin: 5px 0px;
padding:12px;
margin-top: 0px;
}
.good{
	color: #4F8A10;
}
.info_tp{
	 color: #4F8A10;
    background-color: #DFF2BF;
	float:right;
	margin: 5px 0px;
padding:12px;
margin-top: 0px;
}